In [1]:
from pyspark.sql import SparkSession

In [3]:
spark=SparkSession.builder.getOrCreate()

In [4]:
spark

In [118]:
data_path="your_data_path"

In [117]:
spark_df=spark.read.csv(data_path)

In [8]:
spark_df.show()

+--------+------+--------------------+------+---+--------------------+--------------------+-------+
|     _c0|   _c1|                 _c2|   _c3|_c4|                 _c5|                 _c6|    _c7|
+--------+------+--------------------+------+---+--------------------+--------------------+-------+
|Survived|Pclass|                Name|   Sex|Age|Siblings/Spouses ...|Parents/Children ...|   Fare|
|       0|     3|Mr. Owen Harris B...|  male| 22|                   1|                   0|   7.25|
|       1|     1|Mrs. John Bradley...|female| 38|                   1|                   0|71.2833|
|       1|     3|Miss. Laina Heikk...|female| 26|                   0|                   0|  7.925|
|       1|     1|Mrs. Jacques Heat...|female| 35|                   1|                   0|   53.1|
|       0|     3|Mr. William Henry...|  male| 35|                   0|                   0|   8.05|
|       0|     3|     Mr. James Moran|  male| 27|                   0|                   0| 8.4583|
|       0|     1|Mr. Timothy J McC...|  male| 54|                   0|                   0|51.8625|
|       0|     3|Master. Gosta Leo...|  male|  2|                   3|                   1| 21.075|
|       1|     3|Mrs. Oscar W (Eli...|female| 27|                   0|                   2|11.1333|
|       1|     2|Mrs. Nicholas (Ad...|female| 14|                   1|                   0|30.0708|
|       1|     3|Miss. Marguerite ...|female|  4|                   1|                   1|   16.7|
|       1|     1|Miss. Elizabeth B...|female| 58|                   0|                   0|  26.55|
|       0|     3|Mr. William Henry...|  male| 20|                   0|                   0|   8.05|
|       0|     3|Mr. Anders Johan ...|  male| 39|                   1|                   5| 31.275|
|       0|     3|Miss. Hulda Amand...|female| 14|                   0|                   0| 7.8542|
|       1|     2|Mrs. (Mary D King...|female| 55|                   0|                   0|     16|
|       0|     3| Master. Eugene Rice|  male|  2|                   4|                   1| 29.125|
|       1|     2|Mr. Charles Eugen...|  male| 23|                   0|                   0|     13|
|       0|     3|Mrs. Julius (Emel...|female| 31|                   1|                   0|     18|
+--------+------+--------------------+------+---+--------------------+--------------------+-------+
only showing top 20 rows

In [9]:
spark_df_header=spark.read.csv(data_path,header=True)

In [10]:
spark_df_header.show()

+--------+------+--------------------+------+---+-----------------------+-----------------------+-------+
|Survived|Pclass|                Name|   Sex|Age|Siblings/Spouses Aboard|Parents/Children Aboard|   Fare|
+--------+------+--------------------+------+---+-----------------------+-----------------------+-------+
|       0|     3|Mr. Owen Harris B...|  male| 22|                      1|                      0|   7.25|
|       1|     1|Mrs. John Bradley...|female| 38|                      1|                      0|71.2833|
|       1|     3|Miss. Laina Heikk...|female| 26|                      0|                      0|  7.925|
|       1|     1|Mrs. Jacques Heat...|female| 35|                      1|                      0|   53.1|
|       0|     3|Mr. William Henry...|  male| 35|                      0|                      0|   8.05|
|       0|     3|     Mr. James Moran|  male| 27|                      0|                      0| 8.4583|
|       0|     1|Mr. Timothy J McC...|  male| 54|                      0|                      0|51.8625|
|       0|     3|Master. Gosta Leo...|  male|  2|                      3|                      1| 21.075|
|       1|     3|Mrs. Oscar W (Eli...|female| 27|                      0|                      2|11.1333|
|       1|     2|Mrs. Nicholas (Ad...|female| 14|                      1|                      0|30.0708|
|       1|     3|Miss. Marguerite ...|female|  4|                      1|                      1|   16.7|
|       1|     1|Miss. Elizabeth B...|female| 58|                      0|                      0|  26.55|
|       0|     3|Mr. William Henry...|  male| 20|                      0|                      0|   8.05|
|       0|     3|Mr. Anders Johan ...|  male| 39|                      1|                      5| 31.275|
|       0|     3|Miss. Hulda Amand...|female| 14|                      0|                      0| 7.8542|
|       1|     2|Mrs. (Mary D King...|female| 55|                      0|                      0|     16|
|       0|     3| Master. Eugene Rice|  male|  2|                      4|                      1| 29.125|
|       1|     2|Mr. Charles Eugen...|  male| 23|                      0|                      0|     13|
|       0|     3|Mrs. Julius (Emel...|female| 31|                      1|                      0|     18|
|       1|     3|Mrs. Fatima Masse...|female| 22|                      0|                      0|  7.225|
+--------+------+--------------------+------+---+-----------------------+-----------------------+-------+
only showing top 20 rows

In [20]:
#cleaning spark df wit list comprehension
import re
headers_filtered=[re.sub("[\s+/]","_",col) for col in spark_df_header.columns]

In [21]:
headers_filtered

['Survived',
 'Pclass',
 'Name',
 'Sex',
 'Age',
 'Siblings_Spouses_Aboard',
 'Parents_Children_Aboard',
 'Fare']

In [25]:
spark_df_header=spark.read.csv(data_path).toDF(*headers_filtered)

In [27]:
spark_df_header.show()

+--------+------+--------------------+------+---+-----------------------+-----------------------+-------+
|Survived|Pclass|                Name|   Sex|Age|Siblings_Spouses_Aboard|Parents_Children_Aboard|   Fare|
+--------+------+--------------------+------+---+-----------------------+-----------------------+-------+
|Survived|Pclass|                Name|   Sex|Age|   Siblings/Spouses ...|   Parents/Children ...|   Fare|
|       0|     3|Mr. Owen Harris B...|  male| 22|                      1|                      0|   7.25|
|       1|     1|Mrs. John Bradley...|female| 38|                      1|                      0|71.2833|
|       1|     3|Miss. Laina Heikk...|female| 26|                      0|                      0|  7.925|
|       1|     1|Mrs. Jacques Heat...|female| 35|                      1|                      0|   53.1|
|       0|     3|Mr. William Henry...|  male| 35|                      0|                      0|   8.05|
|       0|     3|     Mr. James Moran|  male| 27|                      0|                      0| 8.4583|
|       0|     1|Mr. Timothy J McC...|  male| 54|                      0|                      0|51.8625|
|       0|     3|Master. Gosta Leo...|  male|  2|                      3|                      1| 21.075|
|       1|     3|Mrs. Oscar W (Eli...|female| 27|                      0|                      2|11.1333|
|       1|     2|Mrs. Nicholas (Ad...|female| 14|                      1|                      0|30.0708|
|       1|     3|Miss. Marguerite ...|female|  4|                      1|                      1|   16.7|
|       1|     1|Miss. Elizabeth B...|female| 58|                      0|                      0|  26.55|
|       0|     3|Mr. William Henry...|  male| 20|                      0|                      0|   8.05|
|       0|     3|Mr. Anders Johan ...|  male| 39|                      1|                      5| 31.275|
|       0|     3|Miss. Hulda Amand...|female| 14|                      0|                      0| 7.8542|
|       1|     2|Mrs. (Mary D King...|female| 55|                      0|                      0|     16|
|       0|     3| Master. Eugene Rice|  male|  2|                      4|                      1| 29.125|
|       1|     2|Mr. Charles Eugen...|  male| 23|                      0|                      0|     13|
|       0|     3|Mrs. Julius (Emel...|female| 31|                      1|                      0|     18|
+--------+------+--------------------+------+---+-----------------------+-----------------------+-------+
only showing top 20 rows

In [31]:
spark_df_header=spark.read.csv(data_path).toDF(*headers_filtered).filter("Survived <> 'Survived'")

In [34]:
spark_df_header.show()

+--------+------+--------------------+------+---+-----------------------+-----------------------+-------+
|Survived|Pclass|                Name|   Sex|Age|Siblings_Spouses_Aboard|Parents_Children_Aboard|   Fare|
+--------+------+--------------------+------+---+-----------------------+-----------------------+-------+
|       0|     3|Mr. Owen Harris B...|  male| 22|                      1|                      0|   7.25|
|       1|     1|Mrs. John Bradley...|female| 38|                      1|                      0|71.2833|
|       1|     3|Miss. Laina Heikk...|female| 26|                      0|                      0|  7.925|
|       1|     1|Mrs. Jacques Heat...|female| 35|                      1|                      0|   53.1|
|       0|     3|Mr. William Henry...|  male| 35|                      0|                      0|   8.05|
|       0|     3|     Mr. James Moran|  male| 27|                      0|                      0| 8.4583|
|       0|     1|Mr. Timothy J McC...|  male| 54|                      0|                      0|51.8625|
|       0|     3|Master. Gosta Leo...|  male|  2|                      3|                      1| 21.075|
|       1|     3|Mrs. Oscar W (Eli...|female| 27|                      0|                      2|11.1333|
|       1|     2|Mrs. Nicholas (Ad...|female| 14|                      1|                      0|30.0708|
|       1|     3|Miss. Marguerite ...|female|  4|                      1|                      1|   16.7|
|       1|     1|Miss. Elizabeth B...|female| 58|                      0|                      0|  26.55|
|       0|     3|Mr. William Henry...|  male| 20|                      0|                      0|   8.05|
|       0|     3|Mr. Anders Johan ...|  male| 39|                      1|                      5| 31.275|
|       0|     3|Miss. Hulda Amand...|female| 14|                      0|                      0| 7.8542|
|       1|     2|Mrs. (Mary D King...|female| 55|                      0|                      0|     16|
|       0|     3| Master. Eugene Rice|  male|  2|                      4|                      1| 29.125|
|       1|     2|Mr. Charles Eugen...|  male| 23|                      0|                      0|     13|
|       0|     3|Mrs. Julius (Emel...|female| 31|                      1|                      0|     18|
|       1|     3|Mrs. Fatima Masse...|female| 22|                      0|                      0|  7.225|
+--------+------+--------------------+------+---+-----------------------+-----------------------+-------+
only showing top 20 rows

In [35]:
spark_df_header.dtypes

[('Survived', 'string'),
 ('Pclass', 'string'),
 ('Name', 'string'),
 ('Sex', 'string'),
 ('Age', 'string'),
 ('Siblings_Spouses_Aboard', 'string'),
 ('Parents_Children_Aboard', 'string'),
 ('Fare', 'string')]

In [36]:
spark_df_header=spark.read.csv(data_path,inferSchema=True).toDF(*headers_filtered).filter("Survived <> 'Survived'")

In [37]:
spark_df_header.dtypes

[('Survived', 'string'),
 ('Pclass', 'string'),
 ('Name', 'string'),
 ('Sex', 'string'),
 ('Age', 'string'),
 ('Siblings_Spouses_Aboard', 'string'),
 ('Parents_Children_Aboard', 'string'),
 ('Fare', 'string')]

In [38]:
from pyspark.sql.types import *

In [98]:
#defining empty schema
schema=StructType()

In [99]:
schema.add('Survived', 'integer').\
add('Pclass', 'integer').\
add('Name', 'string').\
add('Sex', 'string').\
add('Age', 'integer').\
add('Siblings_Spouses_Aboard', 'integer').\
add('Parents_Children_Aboard', 'integer').\
add('Fare', 'double')

StructType(List(StructField(Survived,IntegerType,true),StructField(Pclass,IntegerType,true),StructField(Name,StringType,true),StructField(Sex,StringType,true),StructField(Age,IntegerType,true),StructField(Siblings_Spouses_Aboard,IntegerType,true),StructField(Parents_Children_Aboard,IntegerType,true),StructField(Fare,DoubleType,true)))

In [64]:
spark_df_with_schema=spark.read.csv(data_path,schema=schema)

In [67]:
spark_df_with_schema.show(n=2)

+--------+------+--------------------+----+----+-----------------------+-----------------------+----+
|Survived|Pclass|                Name| Sex| Age|Siblings_Spouses_Aboard|Parents_Children_Aboard|Fare|
+--------+------+--------------------+----+----+-----------------------+-----------------------+----+
|    null|  null|                null|null|null|                   null|                   null|null|
|       0|     3|Mr. Owen Harris B...|male|  22|                      1|                      0|7.25|
+--------+------+--------------------+----+----+-----------------------+-----------------------+----+
only showing top 2 rows

In [66]:
spark_df_with_schema.dtypes

[('Survived', 'int'),
 ('Pclass', 'int'),
 ('Name', 'string'),
 ('Sex', 'string'),
 ('Age', 'int'),
 ('Siblings_Spouses_Aboard', 'int'),
 ('Parents_Children_Aboard', 'int'),
 ('Fare', 'double')]

In [81]:
spark_df_with_schema=spark.read.csv(data_path,schema=schema,mode="DROPMALFORMED")

In [82]:
spark_df_with_schema.show()

+--------+------+--------------------+------+---+-----------------------+-----------------------+-------+
|Survived|Pclass|                Name|   Sex|Age|Siblings_Spouses_Aboard|Parents_Children_Aboard|   Fare|
+--------+------+--------------------+------+---+-----------------------+-----------------------+-------+
|       1|     1|Mrs. John Bradley...|female| 38|                      1|                      0|71.2833|
|       1|     3|Miss. Laina Heikk...|female| 26|                      0|                      0|  7.925|
+--------+------+--------------------+------+---+-----------------------+-----------------------+-------+
only showing top 2 rows

In [94]:
corrupted_schema=StructType()

In [100]:
corrupted_schema.add('Survived', 'integer').\
add('Pclass', 'integer').\
add('Name', 'string').\
add('Sex', 'string').\
add('Age', 'integer').\
add('Siblings_Spouses_Aboard', 'integer').\
add('Parents_Children_Aboard', 'integer').\
add('Fare', 'double').add("corrupted_data","string") #corrupted colum

StructType(List(StructField(Survived,IntegerType,true),StructField(Pclass,IntegerType,true),StructField(Name,StringType,true),StructField(Sex,StringType,true),StructField(Age,IntegerType,true),StructField(Siblings_Spouses_Aboard,IntegerType,true),StructField(Parents_Children_Aboard,IntegerType,true),StructField(Fare,DoubleType,true),StructField(corrupted_data,StringType,true)))

In [107]:
spark_df_corrupted=spark.read.\
csv(data_path,schema=corrupted_schema,mode="PERMISSIVE",columnNameOfCorruptRecord="corrupted_data")

In [108]:
spark_df_corrupted.show(n=1,truncate=False)

+--------+------+----+----+----+-----------------------+-----------------------+----+---------------------------------------------------------------------------------+
|Survived|Pclass|Name|Sex |Age |Siblings_Spouses_Aboard|Parents_Children_Aboard|Fare|corrupted_data                                                                   |
+--------+------+----+----+----+-----------------------+-----------------------+----+---------------------------------------------------------------------------------+
|null    |null  |null|null|null|null                   |null                   |null|Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare|
+--------+------+----+----+----+-----------------------+-----------------------+----+---------------------------------------------------------------------------------+
only showing top 1 row