In [2]:
#import spark session and functions for performing Join
from pyspark.sql import SparkSession,functions as f

In [4]:
spark=SparkSession.builder.getOrCreate()

In [20]:
df_left=spark.createDataFrame([(1, 'IT', 20), (2, 'civil', 30), (3, 'MECH', 40),
                               (4,None,50)],['id','dept','Strength'])

In [21]:
df_left.show()

+---+-----+--------+
| id| dept|Strength|
+---+-----+--------+
|  1|   IT|      20|
|  2|civil|      30|
|  3| MECH|      40|
|  4| null|      50|
+---+-----+--------+

In [26]:
df_right=spark.createDataFrame([(1,'IT',1),(2,'CIVIL',30),(5,'eee',1)],['dept_id','dept','student_id'])

In [27]:
df_right.show()

+-------+-----+----------+
|dept_id| dept|student_id|
+-------+-----+----------+
|      1|   IT|         1|
|      2|CIVIL|        30|
|      5|  eee|         1|
+-------+-----+----------+

In [28]:
df_inner_on=df_left.join(df_right,on='dept')

In [30]:
df_inner_on.show()

+----+---+--------+-------+----------+
|dept| id|Strength|dept_id|student_id|
+----+---+--------+-------+----------+
|  IT|  1|      20|      1|         1|
+----+---+--------+-------+----------+

In [39]:
df_inner_left_on=df_left.join(df_right,on=[df_left.id==df_right.dept_id])

In [40]:
df_inner_left_on.show()

+---+-----+--------+-------+-----+----------+
| id| dept|Strength|dept_id| dept|student_id|
+---+-----+--------+-------+-----+----------+
|  1|   IT|      20|      1|   IT|         1|
|  2|civil|      30|      2|CIVIL|        30|
+---+-----+--------+-------+-----+----------+

In [50]:
df_upper_case_join=df_left.join(df_right,on=[f.upper(df_left.dept)==df_right.dept])

In [51]:
df_upper_case_join.show()

+---+-----+--------+-------+-----+----------+
| id| dept|Strength|dept_id| dept|student_id|
+---+-----+--------+-------+-----+----------+
|  2|civil|      30|      2|CIVIL|        30|
|  1|   IT|      20|      1|   IT|         1|
+---+-----+--------+-------+-----+----------+

In [52]:
df_left_join=df_left.join(df_right,how="left_outer",on=[df_left.id==df_right.dept_id])

In [53]:
df_left_join.show()

+---+-----+--------+-------+-----+----------+
| id| dept|Strength|dept_id| dept|student_id|
+---+-----+--------+-------+-----+----------+
|  1|   IT|      20|      1|   IT|         1|
|  3| MECH|      40|   null| null|      null|
|  2|civil|      30|      2|CIVIL|        30|
|  4| null|      50|   null| null|      null|
+---+-----+--------+-------+-----+----------+

In [54]:
df_right_join=df_left.join(df_right,how="right_outer",on=[df_left.id==df_right.dept_id])

In [55]:
df_right_join.show()

+----+-----+--------+-------+-----+----------+
|  id| dept|Strength|dept_id| dept|student_id|
+----+-----+--------+-------+-----+----------+
|null| null|    null|      5|  eee|         1|
|   1|   IT|      20|      1|   IT|         1|
|   2|civil|      30|      2|CIVIL|        30|
+----+-----+--------+-------+-----+----------+

In [56]:
df_full_join=df_left.join(df_right,how="full_outer",on=[df_left.id==df_right.dept_id])

In [57]:
df_full_join.show()

+----+-----+--------+-------+-----+----------+
|  id| dept|Strength|dept_id| dept|student_id|
+----+-----+--------+-------+-----+----------+
|null| null|    null|      5|  eee|         1|
|   1|   IT|      20|      1|   IT|         1|
|   3| MECH|      40|   null| null|      null|
|   2|civil|      30|      2|CIVIL|        30|
|   4| null|      50|   null| null|      null|
+----+-----+--------+-------+-----+----------+

In [58]:
df_left_semi_join=df_left.join(df_right,how="left_semi",on=[df_left.id==df_right.dept_id])

In [59]:
df_left_semi_join.show()

+---+-----+--------+
| id| dept|Strength|
+---+-----+--------+
|  1|   IT|      20|
|  2|civil|      30|
+---+-----+--------+

In [60]:
df_left_anti_join=df_left.join(df_right,how="left_anti",on=[df_left.id==df_right.dept_id])

In [61]:
df_left_anti_join.show()

+---+----+--------+
| id|dept|Strength|
+---+----+--------+
|  3|MECH|      40|
|  4|null|      50|
+---+----+--------+

In [62]:
df_cross_join=df_left.join(df_right,)

In [63]:

df_cross_join.show()

AnalysisException: u'Detected implicit cartesian product for INNER join between logical plans\nLogicalRDD [id#48L, dept#49, Strength#50L], false\nand\nLogicalRDD [dept_id#64L, dept#65, student_id#66L], false\nJoin condition is missing or trivial.\nEither: use the CROSS JOIN syntax to allow cartesian products between these\nrelations, or: enable implicit cartesian products by setting the configuration\nvariable spark.sql.crossJoin.enabled=true;'

In [64]:
spark.sql("set spark.sql.crossJoin.enabled=true")

DataFrame[key: string, value: string]

In [65]:
df_cross_join=df_left.join(df_right,)

In [66]:
df_cross_join.show()

+---+-----+--------+-------+-----+----------+
| id| dept|Strength|dept_id| dept|student_id|
+---+-----+--------+-------+-----+----------+
|  1|   IT|      20|      1|   IT|         1|
|  1|   IT|      20|      2|CIVIL|        30|
|  1|   IT|      20|      5|  eee|         1|
|  2|civil|      30|      1|   IT|         1|
|  2|civil|      30|      2|CIVIL|        30|
|  2|civil|      30|      5|  eee|         1|
|  3| MECH|      40|      1|   IT|         1|
|  3| MECH|      40|      2|CIVIL|        30|
|  3| MECH|      40|      5|  eee|         1|
|  4| null|      50|      1|   IT|         1|
|  4| null|      50|      2|CIVIL|        30|
|  4| null|      50|      5|  eee|         1|
+---+-----+--------+-------+-----+----------+

In [85]:
df_multi_or_join=df_left.join(df_right,how="inner",
                           on=[(df_left.id==df_right.dept_id) | (f.upper(df_left.dept)==df_right.dept)])

In [81]:
df_multi_or_join.show()

+---+-----+--------+-------+-----+----------+
| id| dept|Strength|dept_id| dept|student_id|
+---+-----+--------+-------+-----+----------+
|  1|   IT|      20|      1|   IT|         1|
|  2|civil|      30|      2|CIVIL|        30|
+---+-----+--------+-------+-----+----------+

In [82]:
df_multi_and_join=df_left.join(df_right,how="inner",
                           on=[(df_left.id==df_right.dept_id) & (f.upper(df_left.dept)==df_right.dept)])

In [83]:
df_multi_and_join.show()

+---+-----+--------+-------+-----+----------+
| id| dept|Strength|dept_id| dept|student_id|
+---+-----+--------+-------+-----+----------+
|  1|   IT|      20|      1|   IT|         1|
|  2|civil|      30|      2|CIVIL|        30|
+---+-----+--------+-------+-----+----------+

In [86]:
df_left_join=df_left.join(df_right,how="left_outer",on=[df_left.id==df_right.dept_id])

In [100]:
df_right_cols=["df_right_"+col if col  in df_left.columns 
               else col
for col in df_right.columns 
]

In [101]:
df_right_cols

['dept_id', 'df_right_dept', 'student_id']

In [107]:
df_right=df_right.toDF(*df_right_cols)
df_right.show()

+-------+-------------+----------+
|dept_id|df_right_dept|student_id|
+-------+-------------+----------+
|      1|           IT|         1|
|      2|        CIVIL|        30|
|      5|          eee|         1|
+-------+-------------+----------+

In [103]:
df_left_join=df_left.join(df_right,how="left_outer",on=[df_left.id==df_right.dept_id])

In [106]:
df_left_join.select("df_right_dept","dept").show()

+-------------+-----+
|df_right_dept| dept|
+-------------+-----+
|           IT|   IT|
|         null| MECH|
|        CIVIL|civil|
|         null| null|
+-------------+-----+