In [11]:
from pyspark.sql import *

In [2]:
spark=SparkSession.builder.getOrCreate()

In [3]:
data_path="titanic.csv"

In [6]:
df=spark.read.csv(data_path,header=True)

In [7]:
df.show()

+--------+------+--------------------+------+---+-----------------------+-----------------------+-------+
|Survived|Pclass|                Name|   Sex|Age|Siblings/Spouses Aboard|Parents/Children Aboard|   Fare|
+--------+------+--------------------+------+---+-----------------------+-----------------------+-------+
|       0|     3|Mr. Owen Harris B...|  male| 22|                      1|                      0|   7.25|
|       1|     1|Mrs. John Bradley...|female| 38|                      1|                      0|71.2833|
|       1|     3|Miss. Laina Heikk...|female| 26|                      0|                      0|  7.925|
|       1|     1|Mrs. Jacques Heat...|female| 35|                      1|                      0|   53.1|
|       0|     3|Mr. William Henry...|  male| 35|                      0|                      0|   8.05|
|       0|     3|     Mr. James Moran|  male| 27|                      0|                      0| 8.4583|
|       0|     1|Mr. Timothy J McC...|  male| 54|                      0|                      0|51.8625|
|       0|     3|Master. Gosta Leo...|  male|  2|                      3|                      1| 21.075|
|       1|     3|Mrs. Oscar W (Eli...|female| 27|                      0|                      2|11.1333|
|       1|     2|Mrs. Nicholas (Ad...|female| 14|                      1|                      0|30.0708|
|       1|     3|Miss. Marguerite ...|female|  4|                      1|                      1|   16.7|
|       1|     1|Miss. Elizabeth B...|female| 58|                      0|                      0|  26.55|
|       0|     3|Mr. William Henry...|  male| 20|                      0|                      0|   8.05|
|       0|     3|Mr. Anders Johan ...|  male| 39|                      1|                      5| 31.275|
|       0|     3|Miss. Hulda Amand...|female| 14|                      0|                      0| 7.8542|
|       1|     2|Mrs. (Mary D King...|female| 55|                      0|                      0|     16|
|       0|     3| Master. Eugene Rice|  male|  2|                      4|                      1| 29.125|
|       1|     2|Mr. Charles Eugen...|  male| 23|                      0|                      0|     13|
|       0|     3|Mrs. Julius (Emel...|female| 31|                      1|                      0|     18|
|       1|     3|Mrs. Fatima Masse...|female| 22|                      0|                      0|  7.225|
+--------+------+--------------------+------+---+-----------------------+-----------------------+-------+
only showing top 20 rows

In [14]:
df.select(["Survived","Age"]).show(3)

+--------+---+
|Survived|Age|
+--------+---+
|       0| 22|
|       1| 38|
|       1| 26|
+--------+---+
only showing top 3 rows

In [24]:
import pyspark.sql.functions as f

In [25]:
df.select([f.col("Survived"),f.col("Age")]).show(3)

+--------+---+
|Survived|Age|
+--------+---+
|       0| 22|
|       1| 38|
|       1| 26|
+--------+---+
only showing top 3 rows

In [29]:
df.select("*").show(3)

+--------+------+--------------------+------+---+-----------------------+-----------------------+-------+
|Survived|Pclass|                Name|   Sex|Age|Siblings/Spouses Aboard|Parents/Children Aboard|   Fare|
+--------+------+--------------------+------+---+-----------------------+-----------------------+-------+
|       0|     3|Mr. Owen Harris B...|  male| 22|                      1|                      0|   7.25|
|       1|     1|Mrs. John Bradley...|female| 38|                      1|                      0|71.2833|
|       1|     3|Miss. Laina Heikk...|female| 26|                      0|                      0|  7.925|
+--------+------+--------------------+------+---+-----------------------+-----------------------+-------+
only showing top 3 rows

In [30]:
df_inr=df.select("*",(f.col("Fare")+100).alias("Indian_INR"))

In [31]:
df_inr.show(3)

+--------+------+--------------------+------+---+-----------------------+-----------------------+-------+----------+
|Survived|Pclass|                Name|   Sex|Age|Siblings/Spouses Aboard|Parents/Children Aboard|   Fare|Indian_INR|
+--------+------+--------------------+------+---+-----------------------+-----------------------+-------+----------+
|       0|     3|Mr. Owen Harris B...|  male| 22|                      1|                      0|   7.25|    107.25|
|       1|     1|Mrs. John Bradley...|female| 38|                      1|                      0|71.2833|  171.2833|
|       1|     3|Miss. Laina Heikk...|female| 26|                      0|                      0|  7.925|   107.925|
+--------+------+--------------------+------+---+-----------------------+-----------------------+-------+----------+
only showing top 3 rows

In [34]:
df.selectExpr("Survived","case when Survived=0 then 1 else 0 end as Survived_reversed").show(3)

+--------+-----------------+
|Survived|Survived_reversed|
+--------+-----------------+
|       0|                1|
|       1|                0|
|       1|                0|
+--------+-----------------+
only showing top 3 rows

In [38]:
df.selectExpr("Name","length(Name) as len_name").show(3)

+--------------------+--------+
|                Name|len_name|
+--------------------+--------+
|Mr. Owen Harris B...|      22|
|Mrs. John Bradley...|      50|
|Miss. Laina Heikk...|      21|
+--------------------+--------+
only showing top 3 rows

In [39]:
df.dtypes

[('Survived', 'string'),
 ('Pclass', 'string'),
 ('Name', 'string'),
 ('Sex', 'string'),
 ('Age', 'string'),
 ('Siblings/Spouses Aboard', 'string'),
 ('Parents/Children Aboard', 'string'),
 ('Fare', 'string')]

In [41]:
df_cast=df.selectExpr("*","cast(Survived as int) as Survived_int")

In [43]:
df_cast.dtypes

[('Survived', 'string'),
 ('Pclass', 'string'),
 ('Name', 'string'),
 ('Sex', 'string'),
 ('Age', 'string'),
 ('Siblings/Spouses Aboard', 'string'),
 ('Parents/Children Aboard', 'string'),
 ('Fare', 'string'),
 ('Survived_int', 'int')]

In [49]:
df.selectExpr("*","current_date as date").show(3)

+--------+------+--------------------+------+---+-----------------------+-----------------------+-------+----------+
|Survived|Pclass|                Name|   Sex|Age|Siblings/Spouses Aboard|Parents/Children Aboard|   Fare|      date|
+--------+------+--------------------+------+---+-----------------------+-----------------------+-------+----------+
|       0|     3|Mr. Owen Harris B...|  male| 22|                      1|                      0|   7.25|2019-11-30|
|       1|     1|Mrs. John Bradley...|female| 38|                      1|                      0|71.2833|2019-11-30|
|       1|     3|Miss. Laina Heikk...|female| 26|                      0|                      0|  7.925|2019-11-30|
+--------+------+--------------------+------+---+-----------------------+-----------------------+-------+----------+
only showing top 3 rows

In [55]:
user_cols="Survived,Name,Age"
user_cols_list=user_cols.split(",")

In [56]:
df.select([x for x in df.columns if x in user_cols_list ]).show(3)

+--------+--------------------+---+
|Survived|                Name|Age|
+--------+--------------------+---+
|       0|Mr. Owen Harris B...| 22|
|       1|Mrs. John Bradley...| 38|
|       1|Miss. Laina Heikk...| 26|
+--------+--------------------+---+
only showing top 3 rows