In [8]:
df=spark.read.csv('/home/somanath/spark_csv/titanic.csv',header=True)

In [12]:
df.show(3)

+--------+------+--------------------+------+---+-----------------------+-----------------------+-------+
|Survived|Pclass|                Name|   Sex|Age|Siblings/Spouses Aboard|Parents/Children Aboard|   Fare|
+--------+------+--------------------+------+---+-----------------------+-----------------------+-------+
|       0|     3|Mr. Owen Harris B...|  male| 22|                      1|                      0|   7.25|
|       1|     1|Mrs. John Bradley...|female| 38|                      1|                      0|71.2833|
|       1|     3|Miss. Laina Heikk...|female| 26|                      0|                      0|  7.925|
+--------+------+--------------------+------+---+-----------------------+-----------------------+-------+
only showing top 3 rows

In [13]:
opt=[]
tot=df.count()

In [14]:
tot

887

In [31]:
import datetime as dt

In [32]:

def dups_count(col,dataframe=df):
    print(col,dt.datetime.now())
    opt.append((col,tot-dataframe.drop_duplicates([col]).count()))

In [33]:
%%time
for col in df.columns:
    dups_count(col)

('Survived', datetime.datetime(2020, 1, 11, 9, 33, 14, 388410))
('Pclass', datetime.datetime(2020, 1, 11, 9, 33, 15, 9287))
('Name', datetime.datetime(2020, 1, 11, 9, 33, 15, 712001))
('Sex', datetime.datetime(2020, 1, 11, 9, 33, 16, 461611))
('Age', datetime.datetime(2020, 1, 11, 9, 33, 17, 242935))
('Siblings/Spouses Aboard', datetime.datetime(2020, 1, 11, 9, 33, 17, 880714))
('Parents/Children Aboard', datetime.datetime(2020, 1, 11, 9, 33, 18, 315136))
('Fare', datetime.datetime(2020, 1, 11, 9, 33, 18, 789574))
CPU times: user 21.9 ms, sys: 8.58 ms, total: 30.4 ms
Wall time: 4.87 s

In [34]:
from multiprocessing.pool import ThreadPool

In [35]:
pool=ThreadPool(2)

In [36]:
%%time
opt2=pool.map(dups_count,df.columns)

('Survived', datetime.datetime(2020, 1, 11, 9, 41, 40, 47341))
('Pclass', datetime.datetime(2020, 1, 11, 9, 41, 40, 255725))
('Name', datetime.datetime(2020, 1, 11, 9, 41, 41, 172160))
('Sex', datetime.datetime(2020, 1, 11, 9, 41, 41, 802864))
('Age', datetime.datetime(2020, 1, 11, 9, 41, 42, 234887))
('Siblings/Spouses Aboard', datetime.datetime(2020, 1, 11, 9, 41, 42, 728769))
('Parents/Children Aboard', datetime.datetime(2020, 1, 11, 9, 41, 43, 275796))
('Fare', datetime.datetime(2020, 1, 11, 9, 41, 43, 806009))
CPU times: user 37.5 ms, sys: 11.5 ms, total: 49 ms
Wall time: 4.49 s

In [37]:
%%time
opt2=pool.map(dups_count,df.columns)

In [38]:
opt

[('Survived', 885),
 ('Pclass', 884),
 ('Name', 0),
 ('Sex', 885),
 ('Age', 798),
 ('Siblings/Spouses Aboard', 880),
 ('Parents/Children Aboard', 880),
 ('Fare', 639),
 ('Survived', 885),
 ('Pclass', 884),
 ('Name', 0),
 ('Sex', 885),
 ('Age', 798),
 ('Siblings/Spouses Aboard', 880),
 ('Parents/Children Aboard', 880),
 ('Fare', 639),
 ('Pclass', 884),
 ('Survived', 885),
 ('Name', 0),
 ('Sex', 885),
 ('Age', 798),
 ('Siblings/Spouses Aboard', 880),
 ('Parents/Children Aboard', 880),
 ('Fare', 639)]

In [39]:
import multiprocessing as ms

In [40]:
pool=ThreadPool(ms.cpu_count())

In [46]:
%%time
opt2=pool.map(dups_count,df.columns)

('Survived', datetime.datetime(2020, 1, 11, 9, 54, 54, 167544))
('Pclass', datetime.datetime(2020, 1, 11, 9, 54, 54, 168354))
('Name', datetime.datetime(2020, 1, 11, 9, 54, 54, 170541))
('Sex', datetime.datetime(2020, 1, 11, 9, 54, 54, 171318))
('Age', datetime.datetime(2020, 1, 11, 9, 54, 54, 896990))
('Siblings/Spouses Aboard', datetime.datetime(2020, 1, 11, 9, 54, 55, 284897))
('Parents/Children Aboard', datetime.datetime(2020, 1, 11, 9, 54, 55, 736226))
('Fare', datetime.datetime(2020, 1, 11, 9, 54, 56, 48580))
CPU times: user 23.8 ms, sys: 8.11 ms, total: 32 ms
Wall time: 3.35 s

In [45]:
ms.cpu_count()

4

In [47]:
pool=ThreadPool(len(df.columns))

In [48]:
%%time
opt2=pool.map(dups_count,df.columns)

('Survived', datetime.datetime(2020, 1, 11, 9, 57, 18, 382307))('Pclass', datetime.datetime(2020, 1, 11, 9, 57, 18, 382987))('Name', datetime.datetime(2020, 1, 11, 9, 57, 18, 383492))('Sex', datetime.datetime(2020, 1, 11, 9, 57, 18, 383910))('Age', datetime.datetime(2020, 1, 11, 9, 57, 18, 388244))('Siblings/Spouses Aboard', datetime.datetime(2020, 1, 11, 9, 57, 18, 388905))('Parents/Children Aboard', datetime.datetime(2020, 1, 11, 9, 57, 18, 389340))('Fare', datetime.datetime(2020, 1, 11, 9, 57, 18, 412037))







CPU times: user 29.1 ms, sys: 6.2 ms, total: 35.3 ms
Wall time: 2.85 s